<table border="0" cellspacing="10" cellpadding="0" width="100%">
	<tr>
		<td><%= link_to "Home", passwordmanager_index_url %></td>
		<td> | </td>
		<td><%= link_to "Neues Passwort", passwordmanager_new_url %></td>
		<td> | </td>
		<td><%= link_to "Edit", passwordmanager_edit_path(params[:phrase],2) %></td>
		<td> | </td>
		<td>Edit Phrase</td>
	</tr>
</table>
