<table border="0" cellspacing="10" cellpadding="0" width="100%">
	<tr>
		<td><%= link_to "Home", passwordmanager_index_url %></td>
		<td> | </td>
		<td><%= link_to "Neues Passwort", new_passwordmanager_url %></td>
		<td> | </td>
		<td><a class="clickAble" onclick="location.href = '/';">Phrase erneut eingeben</a></td>
	</tr>
</table>
