<div id="searchBar">
	<table border="0" cellspacing="10" cellpadding="0" width="100%">
		<tr>
			<td width="10%">
				<div class="tableLoginTdMiddle">
					Suche: 
				</div>
			</td></td>
			<td width="20%">
				<select>
					<option>Email</option>
					<option>URL</option>
				</select>
			</td>
			<td width="70%"><input type="text" /></td>
		</tr>
	</table>
</div>