<div class="divIPassword">
	<table border="0" cellspacing="10" cellpadding="0" width="100%">
		<tr>
			<td width="5%"></td>
			<% if isLogin %>
				<td width="20%">Login:</td>
			<% end %>
			<td width="20%">URL:</td>
			<td width="20%">Passwort:</td>
			<td width="15%"></td>
			<td width="10%"></td>
			<td width="10%"></td>
		</tr>
	</table>
</div>