<table border="0" cellspacing="10" cellpadding="0" width="100%" height="100%" style="min-width:1200px;">
	<tr>
		<td><%= render "passwordmanager/bar" %></td>
	</tr>
	<tr>
		<td><%= render "passwordmanager/form" %></td>
	</tr>
</table>