<%= render "passwordmanager/bar" %>

<%= render "passwordmanager/searchBar" %>

<div id="divIndexBax">
	<div class="divIPassword">
		<table border="0" cellspacing="10" cellpadding="0" width="100%">
			<tr>
				<td width="25%">URL:</td>
				<td width="20%">Login:</td>
				<td width="20%">Passwort:</td>
				<td width="15%"></td>
				<td width="10%"></td>
				<td width="10%"></td>
			</tr>
		</table>
	</div>
</div>

 <%= render partial: 'passwordmanager/search_body', locals: {passwords:@passwords} %>
