// Place all the styles related to the passwordmanager controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*Phrase eingeben
	- passwordmanager#home*/

#divPhrase{
	position: absolute;
	left: 50%;
	top: 50%;

	width: 300px;
	height: 280px;

	margin-left: -150px;
	margin-top: -140px;

	border:1px solid white;
}
	#divPhrase table{
		width: 100%;
	}
		#divPhraseUeber{
			font-size: 24px;
			text-decoration: underline;
		}

/*Leiste*/
#divLeiste{
	margin-left: 10%;
	width: 80%;


	height: 30px;
	border: 1px solid white;
}
	#divUserLastSignIn{
		display: none;
	}
		#divNavigation table tr td{
			text-align: center;
		}
	#divUserPhrase{
		display: none;
	}

/*Suchleiste*/
#searchBar{
	margin-left: 30%;
	width: 40%;

	height: 30px;

	border:1px solid white;
}	
	#searchBar table{
		margin-top: -7px;
	}
		#searchBar table tr td input,#searchBar table tr td select{
			width: 100%;
		}

/*Inhalt auf der Indexseite*/
#divIndexInhalt{
	margin-left: 10%;
	width: 80%;
	height: 100%;


	border:1px solid white;
	background-color: #0B0B3B;
}
#divIndexBar{
	margin-left: 10%;
	width: 80%;
	height: 40px;
	background-color: #0B0B3B;
}
	#divIndexBar table tr td{
		text-decoration: underline;
		font-size: 20px;
	}

/*Index Seite*/
.divIPassword{
	position: static;
	width: 100%;
	height: 40px;

	border:1px solid white;
}
	.divIPUrl{
		position: relative;
		left: 5%;
		top: 10px;
		width: 20%;
	}
	.divIPLogin{
		position: relative;
		left: 30%;
		width: 20%;
	}

/*_form.html.erb*/
#divEdNew{
	position: absolute;
	left: 50%;
	top: 200px;
	margin-left: -150px;
}
	#trBtSend{
		display: none;
	}

/*Show login*/
#divSLUeber{
	text-decoration: underline;
	font-size: 20px;
	margin-left: 10%;
}

/*Edit Phrase*/
#divEditPhrase{
	position: absolute;

	top: 50%;
	left: 50%;

	width: 500px;
	height: 350px;

	margin-top: -175px;
	margin-left: -250px;

	border: 1px solid white;
}