// Place all the styles related to the passwordmanager controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#divLUser{
	position: absolute;
	left: 2%;
}

/*Phrase eingeben
	- passwordmanager#home*/

#divPhrase{
	position: absolute;
	left: 50%;
	top: 50%;

	width: 300px;
	height: 230px;

	margin-left: -150px;
	margin-top: -115px;

	border:1px solid white;
}
	#divPhrase table{
		width: 100%;
	}
		#divPhraseUeber{
			font-size: 24px;
			text-decoration: underline;
		}

/*Leiste*/
#divLeiste{
	position: absolute;
	top: 80px;
	left: 10%;
	width: 80%;

	height: 30px;
	border: 1px solid white;
}
	#divUserLastSignIn{
		display: none;
	}
	#divNavigation{
		position: absolute;
		left: 35%;
		width: 30%;
		margin-top: -3px;
	}
		#divNavigation table tr td{
			text-align: center;
		}

/*Suchleiste*/
#searchBar{
	position: absolute;
	top: 120px;
	left: 30%;
	width: 40%;

	height: 30px;

	border:1px solid white;
}	
	#searchBar table{
		margin-top: -7px;
	}
		#searchBar table tr td input,#searchBar table tr td select{
			width: 100%;
		}

/*Inhalt auf der Indexseite*/
#divIndexInhalt{
	position: fixed;
	left: 10%;
	width: 80%;
	top: 160px;
	bottom: 0px;

	border:1px solid white;
	background-color: black;
}